WEBHOOK_SECRET=replace-with-a-random-secret
GITHUB_TOKEN=replace-with-a-minimum-permission-token
CI_REPO_SLUG=jaimin-softhealer/test-ci-cd
CI_REPO_DIR=/Users/jaimindhamecha/Documents/test-ci-cd-ci
CI_RUNNER=/Users/jaimindhamecha/Documents/test-ci-cd/ci/run_ci.sh
CI_BRANCH=main
CI_DOCKER_NETWORK=test-ci-cd-ci
CI_DB_HOST=test-ci-cd-postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo
POSTGRES_DB=odoo_test
ODOO_CI_IMAGE=test-ci-cd/odoo-ci:18.0-py3.11
WEBHOOK_PORT=8080
